@media (min-width: 1024px) {
    .hero-container{
        width: 1000px;
        display: flex;
        padding: 2rem;
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .hero-container{
        width: 1400px;
        display: flex;
        padding: 2rem;
        justify-content: space-between;
    }
}


@media (max-width: 400px) {
    .hero-container{
        display: block;
        justify-content: space-between;
        
    }
}



.left-container ,.right-container{
    max-width: 650px;
}

.left-container p{
    line-height: 1.5rem;
}

.left-container h1{
    line-height: 2.6rem;
    font-size: 2.2rem;
}

.right-container img{
    width: 100%;
    border-radius: 2rem;
}